ul, ol {
	margin: 0 0 1.5em $size__spacing-alt;
	padding-left: $size__spacing-alt;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $size__spacing-alt;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $size__spacing-alt 1.5em;
}