
$color__background-body: #fff;
$color__background-content: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #f1b674;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-header: #f1b674;
$color__background-header-mobile: #78dbaa;
$color__background-header-home: #f7a581;
$color__background-nav-button: #78dbaa;

$color__text-header: #fffffe;
$color__text-header-site: #f6986f;
$color__text-header-site-mobile: #ffffff;
$color__text-main: #8C785E;
$color__text-h2: #f7a581;
$color__text-h3: #f1b674;
$color__text-screen: #21759b;
$color__text-button: #fff;

$color__text-input: #6c5437;
$color__text-input-focus: darken( $color__text-input, 10% );
$color__text-input-placeholder: #f3cdae;
$color__text-input-search: darken( #f3cdae, 15% );

$color__link: #78dbaa;
$color__link-menu: #a18058;
$color__link-content: #9F8258;

$color__border-menu: #f6e5d7;
$color__border-recipe: #f7a581;
$color__border-comment: #78dbaa;
$color__border-button: #f1b674;
$color__border-button-hover: #f1b674;
$color__border-button-active: #f1b674;
$color__border-input: #f6e5d7;
$color__border-abbr: #f5e5d8;
