$font__main: 'Quattrocento Sans', sans-serif;
$font__header: 'Questrial', sans-serif;
$font__site-header: 'Sacramento', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__size-body: 1.5;
$font__line-height-body: 1.6;
$font__line-height-pre: 1.6;

$font__weight-normal: 400;
$font__weight-semibold: 700;
$font__weight-bold: 700;
