@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400italic,600,600italic,700);

$font__main: 'Josefin Sans', sans-serif;
$font__header: 'Josefin Sans', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.6;
$font__line-height-pre: 1.6;
