button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	background: $color__background-button;
	color: $color__text-button;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	@include font-size(1.2);
	line-height: 1;
	padding: 7px 12px 5px;

	&:hover,
	&:focus {
		border-color: $color__border-button-hover;
	}

	&:active {
		border-color: $color__border-button-active;
	}
}
