input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;

	&:focus {
		outline: none;
		color: $color__text-input-focus;
		border: 1px solid darken( $color__border-input, 15% );
	}
}

::-webkit-input-placeholder {
	text-transform: uppercase;
	color: $color__text-input-placeholder;
}

::-moz-placeholder {
	text-transform: uppercase;
	color: $color__text-input-placeholder;
}

:-ms-input-placeholder {
	text-transform: uppercase;
	color: $color__text-input-placeholder;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: $size__spacing-alt/2 $size__spacing/2 ($size__spacing-alt/2)-5;
	max-width: 100%;
	box-sizing: border-box;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding: $size__spacing-alt/2;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}
