.entry-content {
	a,
	&:visited {
		color: $color__link-content;
		text-decoration: none;
	}

	a:hover,
	a:focus,
	a:active {
		color: darken( $color__link-content, 10% );
	}
}

a,
.jetpack-recipe-print a {
	color: $color__link;

	&:hover,
	&:focus,
	&:active {
		color: darken( $color__link, 10% );
	}
}

