.entry-content {
	a,
	a:visited {
		color: $color__link-content;
		text-decoration: none;
		font-weight: bold;
	}

	a:hover,
	a:focus,
	a:active {
		color: darken( $color__link-content, 10% );
	}
}

.read-more,
.widget a {
	font-weight: bold;
}

a,
.jetpack-recipe-print a {
	color: $color__link;

	&:hover,
	&:focus,
	&:active {
		color: darken( $color__link, 10% );
	}
}

