.main-navigation {
	clear: both;
	display: block;
	float: left;
	margin-bottom: $size__spacing;
	width: 100%;
	border-top: 1px solid $color__border-menu;
	border-bottom: 1px solid $color__border-menu;

	@include font-size(1.5);
	line-height: 1.1;
	font-weight: $font__weight-bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		// Second level
		ul {
			position: absolute;
			z-index: 25;
			top: 45px;
			padding: 10px 0 10px;
			@include hide-dropdown;
			text-align: left;
			background-color: $color__background-content;
			border: 1px solid $color__border-menu;
			@include divet( top, $color__background-content, $color__border-menu );

			// Third level
			ul {
				position: relative;
				top: 0;
				padding-top: 0;
				padding-bottom: 0;
				border: none;
				@include show-dropdown;

				li a {
					padding-left: 20px;
				}

				// Remove divet
				&:before, &:after {
					display: none;
				}
			}

			li {
				padding: 0;
				line-height: 1.25;
			}

			a {
				width: 200px;
				padding: 7px 10px 3px;

				&:hover, &:focus, &:active {
					-webkit-font-smoothing:antialiased;
					-moz-osx-font-smoothing: grayscale;
					color: $color__background-content;
					background-color: $color__link-menu;
					text-decoration: none;
				}
			}
		}
	}

	li {
		display: inline-block;
		position: relative;
		padding: 8px 15px 0;

		&:hover > ul,
		&.focus > ul,
		a:focus + ul {
			@include show-dropdown;
		}
	}

	a {
		display: block;
		padding: 10px 10px 15px;
		text-decoration: none;
		outline: none;
		color: $color__link-menu;

		&:visited {
			color: $color__link-menu;
		}

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	.current_page_item > a,
	.current-menu-item > a {
		color: $color__link-menu;
	}
}

/* Small menu. */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 $size__spacing;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;

		a {
			margin-right: 25px;
		}
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;

		a {
			margin-left: 25px;
		}
	}

	a {
		display: block;
		padding: 15px 15px 10px;
		background-color: $color__background-nav-button;
		color: white;
		text-decoration: none;

		&:hover,
		&:active {
			background-color: darken( $color__background-nav-button, 10% );
		}

		&:focus {
			background-color: darken( $color__background-nav-button, 10% );
			text-decoration: underline;
		}
	}
}

ul.menu[id*="social"] {
	width: 100%;
	margin: 0;
	text-align: center;

	li {
		display: inline-block;
		margin-bottom: 0;
		padding-top: 0;
		border-bottom: none;
	}

	a {
		@include genericon;
		margin: 5px 2px 0;
		padding: 0 !important;
		width: 42px;
		height: 40px;
		font-size: 20px;
		line-height: 32px;
		overflow: hidden;
		text-align: center;
		border-radius: 50%;
		background-color: $color__link;
		color: $color__background-content;

		&:hover {
			background-color: darken( $color__link, 10% );
		}

		&:before {
			padding: 5px;
			display: block;
		}
	}

	a[href*="github"]:before { @include genericon-github; }
	a[href*="dribbble"]:before,
	a[href*="drbl.in"]:before { @include genericon-dribbble; }
	a[href*="twitter"]:before,
	a[href*="t.co"]:before { @include genericon-twitter; }
	a[href*="facebook"]:before,
	a[href*="fb.me"]:before { @include genericon-facebook; }
	a[href*="wordpress"]:before,
	a[href*="wp.me"]:before { @include genericon-wordpress; }
	a[href*="google"]:before { @include genericon-googleplus; }
	a[href*="linkedin"]:before,
	a[href*="lnkd.in"]:before { @include genericon-linkedin; }
	a[href*="pinterest"]:before { @include genericon-pinterest; }
	a[href*="flickr"]:before { @include genericon-flickr; }
	a[href*="vimeo"]:before { @include genericon-vimeo; }
	a[href*="youtube"]:before,
	a[href*="youtu.be"]:before { @include genericon-youtube; }
	a[href*="tumblr"]:before { @include genericon-tumblr; }
	a[href*="instagram"]:before { @include genericon-instagram; }
	a[href*="codepen"]:before { @include genericon-codepen; }
	a[href*="polldaddy"]:before { @include genericon-polldaddy; }
	a[href*="path"]:before { @include genericon-path; }
	a[href*="skype"]:before { @include genericon-skype; }
	a[href*="digg"]:before { @include genericon-digg; }
	a[href*="reddit"]:before { @include genericon-reddit; }
	a[href*="stumbleupon"]:before { @include genericon-stumbleupon; }
	a[href*="pocket"]:before { @include genericon-pocket; }
	a[href*="dropbox"]:before { @include genericon-dropbox; }
}
