
.bypostauthor { /* @todo */ }

.comment-list,
.children {
	margin: 0;
	padding: 0;
	list-style: none;
}

.comment-list {
	margin-bottom: $size__spacing;
}

.comment {
	position: relative;
	padding-left: 42px;
	list-style: none;
}

.comment-body {
	margin-bottom: 15px;
	padding: 15px;
	min-height: 85px;
	border: 1px solid $color__border-menu;
}

.comment-awaiting-moderation {
	font-style: italic;
	margin-bottom: 0;
}

.comment-meta {
	font-style: italic;
}

.reply {
	float: right;
}

/*--------------------------------------------------------------
    Comment Flair
--------------------------------------------------------------*/

/* Avatar background + border */
.comment-avatar {
	position: absolute;
	top: 15px;
	left: 0;
	content: ' ';
	height: 52px;
	width: 43px;
	background: white;
	border: 1px solid $color__border-menu;
	border-right: none;
	border-radius: 50% 0 0 50%;
}

.avatar {
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 50%;
}

.depth-2 {
	&.comment {
		padding-left: 0;
		padding-right: 42px;
	}

	& > .comment-body .comment-avatar {
		right: 0;
		left: auto;
		border: 1px solid $color__border-menu;
		border-left: none;
		border-radius: 0 50% 50% 0;
	}

	& > .comment-body .avatar {
		left: auto;
		right: 10px;
	}
}

.reply-connector {
	content: ' ';
	position: absolute;
	top: 45px;
	left: 26px;
	width: 1px;
	height: 0;
	background: $color__border-comment;

	.depth-2 & {
		right: 26px;
		left: auto;
	}
}

.children > .comment article:after {
	content: ' ';
	position: absolute;
	top: 45px;
	left: -15px;
	height: 1px;
	width: 15px;
	background: $color__border-comment;

	.depth-2 & {
		left: auto;
		right: -15px;
	}
}

.no-js .reply-connector,
.no-js article:after {
	display: none !important;
}
