.sticky { /*! Not used */ }

.featured-post {
	.entry-header {
		display: table;
		width: 100%;
	}

	.entry-title,
	.entry-meta {
		display: table-cell;
		vertical-align: middle;
	}

	.entry-title {
		border-left: 3px solid white;
	}

	.entry-meta {
		margin-bottom: 0;
		padding: 20px 15px 15px;
		width: 90px;
		@include font-size( 3.5 );
		font-weight: bold;
		line-height: 30px;
		text-align: center;
		background: $color__background-header;

		a, a:visited {
			display: block;
			color: white;
			outline: none;
			text-decoration: none;
		}
		a:focus {
			box-shadow: 0 2px 0 white;
		}
	}
}

.entry-excerpt {
	padding: 15px;
	background: $color__background-header-home;

	p:last-of-type {
		margin-bottom: 0;
	}

	.masonry & {
		@include font-size(1.6);
		line-height: 1.4;
	}
}

.entry-image {
	margin-bottom: 3px;
}

.blog .entry-title,
.archive .entry-title {
	padding: 15px;
}

.masonry {
	.hentry {
		width: calc( 50% - 18px );
		max-width: 250px;

		a, a:visited {
			color: white;
			outline: none;
			text-decoration: none;
		}
		a:focus {
			text-decoration: underline;
		}
	}

	.archive & {
		.hentry {
			max-width: 270px;
		}
	}
}

.river {
	.hentry {
		padding-bottom: $size__spacing-alt;
		border-bottom: 1px dotted $color__border-abbr;
	}

	.entry-content {
		margin-top: $size__spacing-alt;
	}
}

body.search {
	.entry-title {
		margin-bottom: $size__spacing-alt;
	}
	.entry-meta {
		margin: $size__spacing-alt 0;
		@include font-size( 1.2 );
		text-transform: uppercase;
	}
}

@media screen and ( max-width: 650px ) {
	.masonry .hentry {
		width: 100%;
		max-width: 100%;
	}
	.archive .masonry .hentry {
		width: calc( 50% - 18px );
	}
}

@media screen and ( max-width: 500px ) {
	.archive .masonry .hentry {
		width: 100%;
		max-width: 100%;
	}
}
