
.site {
	margin: 0 auto $size__spacing*2;
	padding: $size__spacing $size__gutter;
	width: 100%;
	max-width: $size__site-main;
}

.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: 100%;
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;
	padding-right: $size__spacing;

	.archive & {
		margin: 0;
		padding-right: 0;
	}
}

.site-content .sidebar {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

.single-post .sidebar {
	margin-top: -50px;
}

.site .footer-widget-area {
	clear: both;
	margin-top: $size__spacing;
}

.not-found-widget-area {
	.widget {
		float: left;
		width: 50%;

		&:nth-of-type(odd) {
			clear: left;
			padding-right: $size__gutter/2;
		}
		&:nth-of-type(even) {
			padding-left: $size__gutter/2;
		}
	}
}

.site-footer {
	clear: both;
	width: 100%;
}

@media screen and ( max-width: $size__site-main ) {
	body {
		padding-left: 1em;
		padding-right: 1em;
	}
}

@media screen and ( max-width: 767px ) {
	$size__site-sidebar: 25%;
	.content-area {
		margin: 0 (-$size__site-sidebar) 0 0;
	}

	.site-main {
		margin: 0 $size__site-sidebar 0 0;

		.archive & {
			margin: 0;
		}
	}

	.site-content .sidebar {
		width: $size__site-sidebar;
	}
}

@media screen and ( max-width: 600px ) {
	.content-area {
		float: none;
		margin: 0;
	}

	.site-main {
		margin: 0;
		padding-right: 0;
	}

	.site-content .sidebar {
		float: none;
		width: 100%;
	}

	.single-post .sidebar {
		margin-top: $size__spacing;
	}
}