/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

.infinite-scroll #masonry {
	padding-bottom: 75px;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

#infinite-handle {
	clear: both;
	padding: 0;
	width: 100%;
	text-align: center;
	cursor: pointer;

	#masonry & {
		position: absolute;
		bottom: 20px;
	}

	span {
		display: block;
		padding: 0;
		background: transparent;
	}

	span button,
	span button:hover,
	span button:focus { /* specificty~! */
		display: block;
		padding: 10px;
		width: 100%;
		background: $color__background-nav-button;
		color: $color__text-header;
		font-family: $font__header;
		font-weight: 900;
		@include font-size( 2.1 );
		text-transform: uppercase;
	}

	span button:hover,
	span button:focus {
		background-color: darken( $color__background-nav-button, 10% );
	}
}
