/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation { /* Older / Newer Posts Navigation (always hidden) */
	display: none;
}

.year-archive .posts-navigation {
	display: block;
}

.infinite-scroll {
	.masonry {
		box-sizing: content-box;
		padding-bottom: 60px;
	}

	.river {
		padding-bottom: $size__spacing;
	}
}

#infinite-handle {
	clear: both;
	padding: 0;
	width: 100%;
	text-align: center;
	cursor: pointer;

	.masonry & {
		position: absolute;
		bottom: $size__spacing-alt;
	}

	span {
		display: block;
		padding: 0;
		background: transparent;
	}

	span button,
	span button:hover,
	span button:focus { /* specificty~! */
		display: block;
		padding: 10px;
		width: 100%;
		background: $color__background-nav-button;
		color: $color__text-header;
		font-family: $font__header;
		@include font-size( 2.1 );
		text-transform: uppercase;
	}

	span button:hover,
	span button:focus {
		background-color: darken( $color__background-nav-button, 10% );
	}
}
