/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

.infinite-scroll #masonry {
	padding-bottom: 75px;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

#infinite-handle {
	clear: both;
	position: absolute;
	bottom: 20px;
	padding: 10px;
	width: 100%;
	background: $color__background-header;
	text-align: center;
	cursor: pointer;

	span {
		padding: 0;
		background: transparent;
		color: $color__text-header;
		font-family: $font__header;
		font-weight: 900;
		@include font-size( 2.1 );
		text-transform: uppercase;
	}
}
